<h1>Picture Details</h1>


		
			<p> <img width="250" src=<%= @return.source%>> </p>
		
			<p> <%= @return.caption  %> </p>
		 
		 <a href="http://localhost:3000/delete_picture/<%= @return.id %>">Delete this picture</a>




